@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* Font setup */
.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Root color variables */
:root {
  --primary-color: #E6533C;
  --text-primary-color: #FFFFFF;
  --text-secondary-color: rgba(255, 255, 255, 0.5);
  --background-primary: #000000;
  --background-secondary: #222222;
}

/* Body background */
body {
  background-color: var(--background-primary);
  margin: 0;
  padding: 0;
  color: var(--text-primary-color);
}
/* common style */
.text{
  color: var(--text-secondary-color);
}
/* button style */
.btn-p{
  background-color: #E6533C;
  color: #FFFFFF;
  border-radius: 30px;
  padding: 10px;
  width: 200px;
  font-size: large;
  border: none;
  margin-right: 10px;
}
.btn-s{
  border: 2px solid white;
  color: #FFFFFF;
  background: none;
}
 
/* section width setup */
.nav-bar ,
.banner {
  max-width: 900px;
  margin: 10px auto;
}
/* Flex utility */
.display-flex {
  display: flex;
}

/* Navbar container */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  
  /* border-bottom: 1px solid var(--text-secondary-color); */
}

/* Title */
.nav-title {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 700;
}

/* Nav list */
.nav-list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 15px 5px;
  border: 1px solid var(--text-secondary-color);
  border-radius: 30px;
 
}

/* Nav item link */
.nav-link {
  text-decoration: none;
  color: var(--text-primary-color);
  padding: 8px 16px;
  border-radius: 999px;
  transition: all 0.3s ease;
}

/* Active/home item */
.nav-link.active,
.nav-link:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* banner */
/* banner tittle */
.banner-tittle{
  font-size: 4rem;
  font-weight: bold;
}
/* #shape{
  font-family: monospace;
} */
 .banner-sub-tittle{
  color: var(--text-secondary-color);
  margin-top: 20px;
  margin-bottom: 20px;
 }
 .band{
  border: 1px solid red;
  border-radius: 10px;
  height: 100px;
  width: 180px;
  background-color: var(--background-secondary);
  padding: 20px;
  justify-content: space-between;

 }
 /* band style with id */
 #band-top{

 }
 #band-bottom{
   justify-content: space-between;
   align-items: center;
   /* margin-top: -100px; */
   
 }
 /* number style */
 .num{
  font-weight: bold;
  font-size: 2rem;

 }
 #num{
   font-weight: bold;
  font-size: 3rem;
 }
 #circle{
  height: 50px;
  width: 50px;
  background-color: var(--primary-color);
  border-radius: 50%;
 }
 /* media query small device */
 @media screen and (max-width: 576px) {
    .banner ,
    .nav-list
    {
      flex-direction: column;
    }
    .nav-bar ,
    .banner ,
    .banner-btn ,
    .banner-image{
      margin: 5px auto;
    }
   .nav-link{
    display: none;
    
   }
   .nav-list{
    gap: 0px;
    border: none;
   }
   
   .nav-item{
    width: 20px;
    height: 2px;
    background-color: #FFFFFF;
    margin: 0px;
    margin-bottom: 5px;

   }
   .banner-tittle{
    margin-left: 10px;
   font-size: 3rem;
   font-weight: bold;
  }
  .banner-sub-tittle{
    margin-left: 10px;
    max-width: 300px;
  }
   .banner-btn{
    margin-left: 50px;
   }

 }